---
layout: default
---
<article class="article">
    <div class="article__header">
        <h1 class="article__headline">{{ page.headline }}</h1>
        <p class="article__meta">
            {{ page.author }}
            ·
            {{ page.published | date_to_long_string: "ordinal" }}
            {% if page.updated %}
                ({% if page.language == "ry" %}noihúŗ{% else %}updated{% endif %} {{ page.updated | date_to_long_string: "ordinal" }})
            {% endif %}
        </p>
    </div>
    <div class="article__body">
        {{ content }}
    </div>
</article>